@import url(https://fonts.googleapis.com/css?family=Lobster);
:root {
    --color-logo: #fa3348;
    --blue: #3490dc;
    --indigo: #6574cd;
    --purple: #9561e2;
    --pink: #f66d9b;
    --red: #e3342f;
    --orange: #f6993f;
    --yellow: #ffed4a;
    --green: #38c172;
    --teal: #4dc0b5;
    --cyan: #6cb2eb;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #3490dc;
    --secondary: #6c757d;
    --success: #38c172;
    --info: #6cb2eb;
    --warning: #ffed4a;
    --danger: #e3342f;
    --light: #f8f9fa;
    --dark: #343a40;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: whitesmoke;
}

header {
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, .04);
}

nav {
    background-color: transparent !important;
}

#logo {
    font-family: "Lobster", sans-serif;
    color: var(--color-logo);
    cursor: pointer;
}

#logo:hover {
    text-decoration: none;
}

.btn {
    background-color: var(--color-logo);
    color: white;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.btn-link {
    background-color: transparent;
    color: black;
}

.no-focus:focus {
    border: none;
    box-shadow: none;
    outline: 0 none;
}

.shadow-animated {
    background-color: white;
    transition: box-shadow 0.3s ease-in-out
}

.shadow-animated:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    transition: box-shadow 0.3s ease-in-out
}

.bg-white {
    background-color: white;
}

.text-white {
    color: white;
}

a {
    cursor: pointer;
}

.color {
    width: 17px;
    height: 17px;
    border-radius: 8px;
    border: 1px solid #ccc;
    content: "";
}

.cursor-pointer {
    cursor: pointer;
}

.multiline {
    white-space: pre-line;
}

.list_row:hover {
    background-color: #eeeeee;
}

.delete-btn:hover {
    background-color: var(--danger);
    color: var(--white);
}

.delete-btn:hover span {
    color: var(--white) !important;
}

.nav-item {
    font-size: 17px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}