@import url(https://fonts.googleapis.com/css?family=Lobster);

:root {
    --color-logo: #fa3348;
}
body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: whitesmoke;
}

header {

    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, .04);
}

nav {
    background-color: transparent !important;
}

#logo {
    font-family: "Lobster", sans-serif;
    color: var(--color-logo);
    cursor: pointer;
}
#logo:hover{
    text-decoration: none;
}

.btn {
    background-color: var(--color-logo);
    color: white;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.btn-link {
    background-color: transparent;
    color: black;
}

.no-focus:focus {
    border: none;
    box-shadow: none;
    outline: 0 none;
}

.product-box{
    background-color: white;
    transition: box-shadow 0.3s ease-in-out 
}

.product-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    transition: box-shadow 0.3s ease-in-out 
}

.bg-white{
    background-color: white;
}

a{
    cursor: pointer;
}

.color{
    width: 17px;
    height: 17px;
    border-radius: 8px;
    border: 1px solid #ccc;
    content: "";
}